/*移动端的CSS样式*/
.mobile-main {
    font-size: 16px;
    padding-bottom: 80px;
    background-color: #ffffff;
}

.mobile-navigation{
    padding-top: 26px;
    text-align: center;
    border: solid 1px #f1f5f8;
    border-right: 0;
    font-size: 16px;
    height: 100%;
    z-index: 10;
    background-color: rgba(232, 238, 242, 0.91);
    position: fixed;
    box-shadow: 4px 0 8px rgba(173, 176, 178, 0.9);
    display: none;
}

.mobile-navigation .item {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
}

.mobile-navigation span {
    padding: 0 5% 0 5%;
}

.mobile-navigation .user {
    margin-bottom: 30px;
}

.mobile-navigation .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.mobile-top-bar {
    height: 50px;
    line-height: 50px;
    background-color: #ebf1f5;
    padding-left: 5px;
    font-family: "华文新魏";
}

.mobile-top-bar .title {
    font-size: 20px;
    float: left;
    padding-left: 15px;
}

.mobile-top-bar .mobile-menu {
    float: left;
}

.mobile-top-bar .search {
    float: right;
    width: 50%;
    margin-right: 6px;
    margin-top: 9px;
}

.mobile-top-bar .search .layui-input {
    border: 0;
    border-radius: 25px;
    height: 30px;
}

.mobile-main .card {
    height: 180px;
    margin-top: 30px;
    padding:3px 5px 3px 5px;
    background-color: #ffffff;
    border: 1px solid #c4c5cc;
}

.mobile-main .card .mix {
    text-align: center;
    height: 180px;
    font-size: 40px;
    font-family: "华文彩云";
    padding-top: 50px;
}



.mobile-main .card .above {
    height: 75%;
    overflow: hidden;
}

.mobile-main .card .below {
    height: 25%;
}

.mobile-main .card .pure {
    text-align: center;
    height: 180px;
    line-height: 170px;
    font-size: 40px;
    font-family: "华文彩云";
}

.mobile-main .card .child-category {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    margin-top: 30px;
    text-align: center;
}

.mobile-main .card .child-category .item{
    padding: 0 10px 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    float: left;
}

.mobile-main .card .title {
    font-size: 18px;
}

.mobile-main .card .summary {
    margin-top: 5px;
    font-size: 14px;
    text-indent: 2em;
}

.below .layui-col-xs4 {
    text-align: center;
    font-size: 14px;
}

.mobile-main .pagination {
    text-align: center;
    font-size: 60px;
}

.mobile-main .pagination .layui-btn {
    background-color: #b5bbbf;
    width: 40px;
    height: 30px;
    line-height: 30px;
}

.mobile-main .card .search {
    text-align: center;
    height: 180px;
    line-height: 170px;
}

.mobile-main .search-input {
    width: 60%;
    height: 35px;
    border: 1px solid #3ca9df;
    padding-left: 5px;
}

.mobile-main .search-button {
    border: 1px solid #3ca9df;
    background-color: #3ca9df;
    color: #ffffff;
    height: 35px;
    width: 50px;
    margin-left: -5px;
}