<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ntshare.Blog.dao.CarouselImgMapper">

    <cache eviction="LRU" size="100" readOnly="true" flushInterval="1800000">

    </cache>

    <sql id="Base_Column_List">
        id, img, link, status
    </sql>

    <select id="queryCarouselImgByStatus" parameterType="Integer" resultType="CarouselImg">
        select
        <include refid="Base_Column_List"/>
        from carousel_img
        <if test="status != null and status != '' ">
            where status = #{status}
        </if>
    </select>

    <insert id="insertCarouselImg" parameterType="CarouselImg" keyProperty="id" useGeneratedKeys="true">
        insert into
        carousel_img(img, link, status)
        values (#{img}, #{link}, #{status})
    </insert>

    <update id="updateCarouselImg" parameterType="CarouselImg">
        update carousel_img
        set img = #{img}, link = #{link}, status = #{status}
        where id = #{id}
    </update>
    
    <delete id="deleteCarouselImgById" parameterType="Integer">
        delete from
        carousel_img
        where id = #{id}
    </delete>

</mapper>