<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.ntshare.Blog.dao.PhotoMapper">
    <cache eviction="LRU" size="100" readOnly="true" flushInterval="1800000">

    </cache>

    <sql id="base_column_list">
        id, title, img, create_time, photo_tag_id, status
    </sql>

    <select id="selectAll" resultType="cn.ntshare.Blog.dto.PhotoDTO">
        select
        <include refid="base_column_list"/>
        from photo
    </select>

    <select id="selectByStatus" parameterType="Integer" resultType="cn.ntshare.Blog.dto.PhotoDTO">
        select id, title, img, photo_tag_id
        from photo
        <if test="status != null">
            where status = #{status}
        </if>
    </select>

    <!--insert-->
    <insert id="insert" parameterType="Photo" keyProperty="id" useGeneratedKeys="true">
        insert into photo(title, img, photo_tag_id, status, create_time)
        values (#{title}, #{img}, #{photoTagId}, #{status}, now())
    </insert>

    <!--update-->
    <update id="update" parameterType="Photo">
        update photo set title=#{title}, img=#{img}, photo_tag_id=#{photoTagId}, status = #{status}
        where id = #{id}
    </update>

    <!--delete-->
    <delete id="delete" parameterType="Integer">
        delete from photo where id = #{id}
    </delete>

    <!--updateStatus-->
    <update id="updateStatus" parameterType="Integer">
        update photo set status = (status+1)%2 where id = #{id}
    </update>

    <select id="queryById" parameterType="Integer" resultType="Photo">
      select
      <include refid="base_column_list"/>
      from photo
      where id = #{id}
    </select>
</mapper>