<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ntshare.Blog.dao.UserMapper">

    <cache eviction="LRU" size="100" readOnly="true" flushInterval="1800000">

    </cache>

    <resultMap id="BaseResultMap" type="cn.ntshare.Blog.pojo.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="signature" property="signature" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, account, username, avatar, email, phone, signature
    </sql>

    <select id="selectByAccountAndPassword" resultType="cn.ntshare.Blog.dto.UserDTO" parameterType="Map">
        select
        <include refid="Base_Column_List"/>
        from user
        where account = #{account}
        and password = #{password}
    </select>

    <select id="selectById" parameterType="Integer" resultType="cn.ntshare.Blog.dto.UserDTO">
        select 
        <include refid="Base_Column_List"/>
        from user
        where id = #{id}
    </select>

    <select id="queryByPassword" parameterType="Map" resultType="Integer">
        select count(1)
        from user
        where id = #{id}
        and password = #{password}
    </select>

    <update id="updateInfo" parameterType="User">
        update user
        set username = #{username},
        email = #{email},
        phone = #{phone},
        signature = #{signature}
        where id = #{id}
    </update>

    <update id="updateAvatar" parameterType="Map">
        update user
        set avatar = #{avatar}
        where id = #{id}
    </update>

    <update id="updatePassword" parameterType="Map">
        update user
        set password = #{password}
        where id = #{id}
    </update>

</mapper>