.category-add-form {
    width: 80%;
}

.category-add-form .title{
    font-size: 26px;
    text-align: center;
    margin: 5% 0 8% 28%;
}

.category-add-form .layui-btn {
    margin-left: 51%;
}

.category-edit-form {
    width: 67%;
    display: none;
}

.category-edit-form .title{
    font-size: 26px;
    text-align: center;
    margin: 5% 0 8% 11%;
}

.category-edit-form .layui-btn {
    margin-left: 50%;
}

.article-edit-area .option {
    width: 30%;
}

#uploadImg {
    margin-left: 9%;
}

.show-article {
    /*text-align: center;*/
}

.show-article .title{
    text-align: center;
}

.show-article .property {
    padding: 2% 0 1% 0;
    font-size: 16px;
}

.property .layui-col-md3 {
    text-align: center;
}

.show-article .summary {
    padding: 1% 0 1% 0;
    background-color: #dfde1380;
    font-style: italic;
}

.show-article .content {
    padding: 1% 0 1% 0;
}

.article-pagination {
    text-align: center;
    padding-top: 1%;
}

.article-pagination span{
    padding: 0 1% 0 1%;
}

.edit-user-info .title{
    font-size: 24px;
    padding-bottom: 2%;
    text-align: center;
}