<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ntshare.blog.dao.TagMapper">

    <sql id="Base_Column_List">
        id, name, color, status
    </sql>

    <select id="queryTags" parameterType="Integer" resultType="cn.ntshare.blog.dto.TagDTO">
        select
        <include refid="Base_Column_List"/>
        from tag
        <if test="status != null">
            where status = #{status}
        </if>
    </select>

    <select id="queryTagOptions" resultType="cn.ntshare.blog.dto.TagDTO">
        select id as value, name as label
        from tag
        where status = 1
    </select>

    <select id="queryTagById" parameterType="Integer" resultType="cn.ntshare.blog.dto.TagDTO">
        select
        <include refid="Base_Column_List"/>
        from tag
        where id = #{id}
    </select>

    <select id="queryEnableTags" resultType="cn.ntshare.blog.dto.TagDTO">
        select id, name, color from tag where status = 1
    </select>
    
    <insert id="insertTag" parameterType="Tag">
        insert into
        tag(name, color, status)
        values(#{name}, #{color}, #{status})
    </insert>
    
    <update id="updateTag" parameterType="Tag">
        update tag
        set name = #{name}, color = #{color}, status = #{status}
        where id = #{id}
    </update>

    <update id="updateStatus" parameterType="Integer">
        update tag
        set status = (status + 1) % 2
        where id = #{id}
    </update>
    
    <delete id="deleteTag" parameterType="Integer">
        delete from tag
        where id = #{id}
    </delete>

    <select id="queryArticlesById" parameterType="Integer" resultType="cn.ntshare.blog.dto.ArticleDTO">
        select a.id, title, img, summary, category_id as categoryId, create_time as createTime, update_time as updateTime, c.name as categoryName
        from article a, category c
        where a.category_id = c.id
        and a.id in (select article_id from article_tag where tag_id = #{id})
        and a.type >0
        and a.status = 1
    </select>

    <select id="count" resultType="Integer">
        select count(1) from tag
    </select>

</mapper>