<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ntshare.blog.dao.NavigationMapper">
    <resultMap id="BaseResultMap" type="cn.ntshare.blog.pojo.Navigation">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="priority" property="priority" jdbcType="INTEGER"/>
        <result column="link" property="link" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, priority, link, status
    </sql>

    <select id="selectAll" resultType="cn.ntshare.blog.dto.NavigationDTO">
        select
        <include refid="Base_Column_List"/>
        from navigation
    </select>

    <select id="selectById" parameterType="Integer" resultType="cn.ntshare.blog.dto.NavigationDTO">
        select
        <include refid="Base_Column_List"/>
        from navigation
        where id = #{id}
    </select>

    <select id="selectByStatus" parameterType="Integer" resultType="cn.ntshare.blog.dto.NavigationDTO">
        select
        <include refid="Base_Column_List"/>
        from navigation
        where status = #{status}
    </select>

    <insert id="insert" parameterType="Navigation" >
        insert into
        navigation(name, priority, link, status)
        values(#{name}, #{priority}, #{link}, #{status})
    </insert>

    <update id="update" parameterType="Navigation">
        update navigation
        set name = #{name},
        priority = #{priority},
        link = #{link},
        status = #{status}
        where id = #{id}
    </update>

    <update id="updateStatus" parameterType="Map">
        update navigation
        set status = #{status}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="Integer">
        delete from navigation
        where id = #{id}
    </delete>

    <select id="selectItem" resultType="cn.ntshare.blog.dto.NavigationDTO">
        select name, link
        from navigation
        where status = 1
        order by priority desc
    </select>

</mapper>